#amplify-do-not-edit-begin
brainpower-react-app/amplify/\#current-cloud-backend
brainpower-react-app/amplify/.config/local-*
brainpower-react-app/amplify/logs
brainpower-react-app/amplify/mock-data
brainpower-react-app/amplify/mock-api-resources
brainpower-react-app/amplify/backend/amplify-meta.json
brainpower-react-app/amplify/backend/.temp
build/
dist/
node_modules/
aws-exports.js
awsconfiguration.json
amplifyconfiguration.json
amplifyconfiguration.dart
amplify-build-config.json
amplify-gradle-config.json
amplifytools.xcconfig
.secret-*
**.sample
#amplify-do-not-edit-end